@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}

.logo{
    text-decoration: none;
    color: #030303;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar a{
    text-decoration: none;
    color: #fff;  
    margin-left: 20px;
    font-weight: 400;
    font-size: 18px;
    transition: all .3s ease;
}

.navbar a:hover{
    color: blue;
    text-decoration: underline;
}
.navbar .active {
    color: blue;
    text-decoration: underline;
}


.home-page{
    height: 100vh;
    display: flex;
    background: linear-gradient(-90deg, rgb(25, 15, 68) 70%, white 30%);
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.home-page-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: white;
    border: 25px solid rgb(25, 15, 68);
    position: relative;
}

.home-page-img img {
    position: absolute;
    max-width: 200;
    max-height: 280;
    width: 90%;
    height: 90%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content{
    max-width: 600px;
    color: #fff;
    text-align: right;
}

.content h1{
    font-size: 2rem;
    line-height: 1.5;
}

.content h3{
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: linear-gradien(red, blue);
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 6s linear infinite;
}

@keyframes animateText{
    0%,95%,100%{
        background-position: -410px 0;
    }
    65%,85%{
        background-position: -700px 0;
    }
}

.content p{
    font-size: 1rem;
    margin-top: 10px;
}

.social-icon{
    margin:10px 0 20px 12px;
}

.social-icon a{
    display: inline-flex;
    justify-content: center;
    color: lightblue;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-left: 13px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    align-items: center;
    text-decoration: none;
    transition: all .5s ease;
}

.social-icon a:hover{
    border-color: lightblue;
    background: lightblue;
    box-shadow: 0 0 10px lightblue;
    color: black;
}

.btn{
    padding: 8px 17px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    background: rgb(23, 14, 155);
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    transition: all .7 ease-in-out;
}

.btn:hover{
    border-color: lightblue;
    background: lightblue;
    box-shadow: 0 0 10px lightblue;
    color: black;
    transition-delay: .5ms;
    transition: .1s ease-out;
}

.about-page{
    height: 100vh;
    display: flex;
    background: linear-gradient(-90deg, rgb(25, 15, 68) 70%, white 30%);
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.about-page-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: white;
    border: 25px solid rgb(25, 15, 68);
    position: relative;
}

.about-page-img img {
    position: absolute;
    max-width: 200;
    max-height: 280;
    width: 90%;
    height: 90%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-content{
    max-width: 600px;
    color: #fff;
    text-align: left;
}

.about-content p{
    font-size: 1rem;
    margin-top: 1px;
}

.features{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 3rem;
}

.features .card{
    background-color: #4848aa;
    padding: 1rem;
    border: 3px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.features .card span{
    display: inline-block;
    background-color: #4566d1;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer{
    position: relative;
    background: linear-gradient(-90deg, rgb(25, 15, 68) 70%, white 30%);
}
.copyright {
    position: relative;
    background-color: transparent;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
}

.copyright a{
    text-decoration: none;
    transition: all .7s ease;
    color: aqua;
}

 .copyright a:hover{
    color: red;
    box-shadow: red; 
    text-decoration: underline;
 }